/* Global */

@font-face {
  font-family: Spartan;
  src: url("SpartanMB-ExtraBold.otf") format("opentype");
}

* {
  background-color: #97feed;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* WebGL */

#glcanvas {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Navbar */

li {
  list-style: none;
}

.links a {
  color: #071952;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #0b666a;
}

/* header {
  position: relative;
  padding: 0 2rem;
} */

.navbar {
  width: 100%;
  /* height: 60px; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar-links li a {
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-left: 30%;
}

/* Toggle-Shenanigans */

.navbar .menu {
  display: none;
  /* position: absolute;
  top: 0.75rem;
  right: 0.5rem; */
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.navbar .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #071952;
  border-radius: 0.2rem;
}

@media (max-width: 600px) {
  /* Navbar */
  .navbar .menu {
    display: flex;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-left: 0rem;
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
  }

  .navbar-links li a {
    margin: 0.2rem 0.5rem;
  }

  .navbar-links.open {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .navbar-links {
    /* display: flex; */
    margin-left: 20%;
  }
  .nav-wrapper {
    display: flex;
    justify-content: start;
  }
  .containerCatAndTitle {
    margin-left: 0%;
  }
}

@media (max-width: 750px) {
  .navbar-links {
    /* display: flex; */
    margin-left: 10%;
  }
}
/* Work */
/* 
.work {
  font-family: Spartan;
  color: #0b666a;
  font-weight: 100;
} */

/* Connect */
/* 
.connect {
  font-family: Spartan;
  color: #0b666a;
  font-weight: 100;
}

.connectWrapper {
  display: flex;
} */
