@font-face {
  font-family: Spartan;
  src: url("SpartanMB-ExtraBold.otf") format("opentype");
}

/* About */

.space2 {
  margin-top: 4rem;
}

.about {
  font-family: Spartan;
  color: #0b666a;
  display: flex;
}

/* About Card */

.aboutCard {
  /* max-width: 300px; */

  /* Center the container in middle on horizontal axis */
  /* margin: 0 auto; */

  /* Add empty space above the container (20% of the view height) */
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
  max-width: 95%;
}

.a_card:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px #071952;
  -moz-box-shadow: 0px 0px 30px 0px #071952;
  box-shadow: 0px 0px 30px 0px #071952;
}

.a_card {
  /* Change background color */
  background-color: #97feed;

  /* margin-left: 5rem;  */
  /* margin-right: 10rem;  */

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;
  border-radius: 12px;
  /* display: inline-flexbox; */
  max-width: 100%;
}

.a_card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
  /* grid-template-rows: 1fr min-content; */
  background-color: #97feed;
}

.a_tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
  margin: 0.2rem;
  /* margin-left: 0.5rem; */
}

.a_allTags {
  background-color: #97feed;
  max-width: 20rem;
  display: flex;
  /* flex-direction: column; */
  /* max-width: 2rem; */
  /* width: 10rem; */
  flex-wrap: wrap;
  justify-content: center;
}

/* Style div elements that have class equal to name */
.a_name {
  font-size: 24px;
  font-weight: 600;
  background-color: #97feed;
  margin-top: 16px;
}

/* Style p element */
.a_card__details p {
  font-size: 14px;
  color: #071952;
  line-height: 150%;
  background-color: #97feed;
}

@media (max-width: 600px) {
  /* About Pages */
  .aboutCard {
    flex-direction: column;
  }
}
